extends ../layout.pug
 
block variables
    - let title = 'Administration';
 
block content
    h1 Espace Administration
    table
        tr
            th #
            th
                //- img(src='../img/calendar.svg' alt='')
                i.icon-calendar
                |  Date de <br>publication
            th Titre
            th
                i.icon-user
                | Auteur
            th
                i.icon-tag
                | Catégorie
            th
                i.icon-cog
                |Actions
        each article in articles
            tr
                td= article._id
                td 
                    = article.dateCreated.toLocaleDateString()+','
                    br
                    = article.dateCreated.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'})
                td= article.title
                td= article.author.name
                td= article.category.title
                td
                    i.icon-pencil
                    a(href='') Modifier
                    br
                    i.icon-trash
                    a(href='') Supprimer