extends ../layout.pug
 
block variables
    - let title = 'Article';
 
block content
    h1 Nouvel Article
        a.nav-button-admin(href="/admin/admin")
            i.icon-cog
            | Retour au panel Admin
            
    form(action="/admin/write", method="post")

        label Titre :
        input(type="text", name="titre", required)

        label Catégorie :
        select(name="categorie", required)
            option(value="") --Please choose an option--
            each categorie in categories
                option(value=categorie.id) #{categorie.title}

        label Contenu :
        textarea(name="contenu", cols="30", rows="10", required)

        label Auteur :
        select(name="auteur", required)
            option(value="") --Please choose an option--
            each author in authors
                option(value=author.id) #{author.name}

        button(type='submit') Publier