extends layout.pug
 
block variables
    - let title = 'Article';
 
block content
    h1= article.title
        a.admin-menu.backhome(href="/") Retour à l'Accueil
    h2= "Article par "+article.author.name
    p= article.content