extends layout.pug
 
block variables
    - let title = 'Accueil';
 
block content
    h1 Bienvenue sur mon blog Node
    p Voici la liste des derniers articles du blog
    each article in articles
        ul
            li
                a(href="/article/"+article._id)=article.title
            li= article.content
            li= 'Publié le ' + article.dateCreated.toLocaleDateString() + ' par ' + article.author.name + ' ' +article.category.title 