extends layout.pug
 
block variables
    - let title = 'Accueil';
 
block content
    h1 Bienvenue sur mon blog Node
        a.nav-button-admin(href="/admin/admin")
            i.icon-cog
            | Administration 
    p Voici la liste des derniers articles du blog :
    each article in articles
        ul
            li
                a.nomarticle(href="/article/"+article._id)=article.title
            li
                .etc= article.content
                a.more(href="/article/"+article._id) Read more...
            li
                i.icon-calendar
                = ' Publié le ' + article.dateCreated.toLocaleDateString() + ' par ' + article.author.name
                div.catego
                    i.icon-tag 
                    = article.category.title