block variables
 
doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title #{title} - Blog Node.js
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/fonts/css/fontello.css")
    body
        block content
    footer
        br
        a(href="/cgu.html") Legal Notice